{% extends "./base.html" %} {% block content %}
<div class="about_mostafa">
  <h2 id="titel_discount">this page discount...</h2>
  <hr />
  <div>
    <img
      id="image_mostafa"
      src="/static/images/mostafa.png"
      alt="mostafa"
      width="300px"
    />
    <hr />
    <p class="text-light bg-dark">نظرتون درباره ی این عکسم چیه؟</p>
  </div>
</div>
<div class="box-text">
  <label for="txt-for-me">نظر شما: </label>
  <form method="post" id="commentForm">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">ارسال</button>
  </form>
</div>
<div class="box-text" id="comments-box">
  <h3>نظرات:</h3>

  </div>
{% endblock content %}
