{% extends "./base.html" %}



{% block content %}
<div class="about_mostafa">
    <h2 id="titel_discount">this page discount...</h2><hr>
    <div>
        <img id="image_mostafa" src="/static/images/mostafa.png" alt="mostafa" width="300px">
        <hr>
        <p class="text-light bg-dark" >Lorem  ARCHIVED: In HTML, how can I change the size of text on my web page?
            This content has been archived, and is no longer maintained by Indiana University. Information here may no longer be accurate, and links may no longer be available or reliable.
            In the most recent World Wide Web Consortium (W3C) recommendations, the preferred method for changing text size is the use of cascading style sheets (CSS). This document describes the use of the HTML <font> tag, which is less flexible than CSS, but compatible with older browsers.
            
            In HTML, you can change the size of text with the <font> tag using the size attribute. The size attribute specifies how large a font will be displayed in either relative or absolute terms. Close the <font> tag with </font> to return to a normal text size.
            
            The default font size is 3, and the largest font size that can be displayed in a browser is 7.
            
            To increase or decrease the size of the font relative to the default size, use <font size="+num"> or <font size="-num"> , where "num" is a number. For example, to make the text two sizes bigger, use:
            
              <font size="+2">This is bigger text.</font>
            To make text one size smaller, use:
            
              <font size="-1">This is smaller text.</font>
            To specify an absolute font size, use <font size="num"> , where "num" is a number from 1 to 7. (When you use absolute font sizes, the resulting display may be more dependent on the browser and hardware of the person viewing the page than when you use relative sizes.) For example, to display the smallest text possible, use:
            
              <font size="1">This is really tiny text.</font>
            For examples of how the different font sizes look, visit W3Schools' HTML <font> Tag Example.
            
            This is document abai in the Knowledge Base.
            Last modified on 2021-09-08 10:19:52.ipsum dolor sit amet consectetur adipisicing elit. Tempora aspernatur sunt consequuntur saepe autem amet quam natus numquam molestias sit rem fuga iste, assumenda magnam id doloribus praesentium ipsum aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis delectus saepe debitis voluptates asperiores veritatis, in blanditiis sequi ut amet minima error, fugit aut quos nulla quas necessitatibus vitae. mostafa jafari age 20and i live in iran</p>
    </div>



</div>

{% endblock content %}